<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="LOG_LAYOUT_PATTERN" value="%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %-5level %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}]%n  %logger{35} - %m%n" />
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoding>UTF-8</encoding>
        <encoder>
		    <pattern>${LOG_LAYOUT_PATTERN}</pattern>
		    <outputPatternAsHeader>true</outputPatternAsHeader>
		  </encoder> 
    </appender>

  <appender name="SYSWARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/platformwarn.log</file>
        <encoding>UTF-8</encoding>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
        <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter">
            <levelMin>WARN</levelMin>
        </filter>
    </appender>

    <appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/platform.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${loggingRoot}/platform.%d{yyyyMMdd}.log
			</FileNamePattern>
		</rollingPolicy>
        
        <encoding>UTF-8</encoding>
        <append>true</append>
        <encoder>
		    <pattern>${LOG_LAYOUT_PATTERN}</pattern>
		    <outputPatternAsHeader>true</outputPatternAsHeader>
		  </encoder> 
    </appender>
    
	 <appender name="APIACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/apiaccess.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${loggingRoot}/apiaccess.%d{yyyyMMdd}.log
			</FileNamePattern>
		</rollingPolicy>
        
        <encoding>UTF-8</encoding>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>

    
    <appender name="ALIPAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/alipay.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${loggingRoot}/alipay.%d{yyyyMMdd}.log
			</FileNamePattern>
		</rollingPolicy>
        <encoding>UTF-8</encoding>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>
        <appender name="weixinpay" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/weixinpay.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${loggingRoot}/weixinpay.%d{yyyyMMdd}.log
			</FileNamePattern>
		</rollingPolicy>
        <encoding>UTF-8</encoding>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}]%n  %-5level %logger{35} - %m%n
            ]]></pattern>
        </layout>
    </appender>
    
    	
	 <logger name="com.weigu.nsp.platform.webx.common.valve.DocThreadValiableAddValve" level="INFO" additivity="false">
	 		   <appender-ref ref="APIACCESS"/>  
    </logger>   
    
     <logger name="com.weigu.nsp.platform.biz.bo.AlipayConfig" level="INFO" additivity="false">
	 		   <appender-ref ref="ALIPAY"/>  
    </logger>   
    <logger name="com.weigu.nsp.platform.biz.bo.WeixinPayConfig" level="INFO" additivity="false">
	 		   <appender-ref ref="weixinpay"/>  
    </logger> 
    <root>
        <level value="${loggingLevel}" />
        <appender-ref ref="PROJECT" />
       <appender-ref ref="SYSWARN" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
