html {
  background-color: #F7F7F7;
}
/*@media only screen and (min-width: 310px){*/
/*html {*/
/*font-size: 42px !important;*/
/*}*/
/*}*/
/*@media only screen and (min-width: 375px){*/
/*html {*/
/*font-size: 50px !important;*/
/*}*/
/*}*/
/*@media only screen and (min-width: 414px){*/
/*html {*/
/*font-size: 55px !important;*/
/*}*/
/*}*/

body {
  margin: 0;
  width: 100%;
}
input {
  -webkit-appearance: none;
}
a {
  text-decoration: none
}
ul {
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
* {
  margin: 0;
  padding: 0
}
.container {
  width: 100%
}
video {
  width: 8rem;
  height: 4.8rem;
}
.loading {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading img {
  position: absolute;
  z-index: 333;
  width: 3rem;
  left: 3.5rem;
  top: 5rem;
}
.top_menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 1.147rem;
  display: flex;
  text-align: center;
  font-size: 0.35rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 800;
  color: #333333;
  line-height: 1.147rem;
  background-color: #fff;
}
.common {
  position: relative;
  width: 33.33%
}
.ul {
  width: 100%;
  position: relative;
  overflow-x: hidden
}
.bottom_content {
  margin-top: 1.147rem;
  width: 400%;
  min-height: 4rem;
  display: flex;
  transition: all .5s ease;
  position: relative;
  top: 0;
  left: 0;
}
.body_1 {
  width: 100%;
  font-size: 0.28rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 500;
  color:rgba(26,22,21,1);
}
.body_1 .content {
  margin-top: 0.2rem;
  background-color: #fff;
  min-height: 5rem;
}
.header-item {
  padding: 0.3rem 0.24rem;
}
.header-item .header-img {
  position: relative;
  float: left;
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 100%;
}
.header-item .name-item {
  position: relative;
  float: left;
  margin-top: 0.05rem;
  margin-left: 0.2rem;
}
.header-item .content-item {
  position: relative;
  float: left;
  margin-left: 1rem;
}
.art {
  padding: 0 0.36rem 0 1.24rem;
}
.content-title {
  height: 0.46rem;
  line-height: 0.46rem;
}
.content-title .content-tag {
  position: relative;
  float: left;
  height: 0.42rem;
  line-height: 0.42rem;
  margin-right: 0.2rem;
  padding: 0 0.09rem 0 0.09rem;
  font-size: 0.29rem;
  font-family: PingFangSC-Regular, sans-serif;
  color: #CF1427;
  border-radius: 0.05rem;
  border: 1px solid #CF1427;
}
.content-title .title {
  position: relative;
  float: left;
  padding-top: 0.04rem;
  margin-top: 0.03rem;
  width: 6.6rem;
  font-size: 0.4rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 600;
  color: rgba(26,22,21,1);
}
.content-item .detail {
  line-height: 0.6rem;
  font-size: 0.35rem;
  -webkit-line-clamp: 5;
  margin-top: 0.23rem;
  font-family: PingFangSC-Regular, sans-serif;
}
.content .image {
  max-width: 8.5rem;
  max-height: 7.8rem;
  overflow: hidden;
  margin-top: 0.25rem;
}
.content .img-list {
  margin-top: 0.16rem;
  padding: 0 0.14rem 0 1.24rem;
  margin-bottom: 0.3rem;
}
.content .operate {
  margin: 0 0.35rem;
  padding: 0 0 0 1.6rem;
  height: 1.17rem;
  line-height: 1.17rem;
  border-top: 0.01rem solid #ebebeb;
}
.content .operate .operate-item {
  position: relative;
  float: left;
  cursor: pointer;
  text-align: center;
  width: 50%;
}
.operate-item .icon {
  position: relative;
  float: left;
  margin-left: 1.05rem;
  margin-top: 0.35rem;
  width: 0.4rem;
}

.operate-item .zan {
  margin-top: 0.35rem!important;
}
.operate-item .value {
  position: relative;
  float: left;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight:400;
  font-size: 0.35rem;
  margin-left: 0.2rem;
  color: #1A1615;
}
/*.content .image .img-item {*/
/*position: relative;*/
/*float: left;*/
/*margin-right: 0.15rem;*/
/*margin-bottom: 0.15rem;*/
/*width: 2.587rem;*/
/*height: 2.587rem;*/
/*}*/
.m-demo{position:relative;float: left;margin-right: 0.2rem;margin-bottom: 0.2rem;width:2.587rem;height:2.587rem;overflow:hidden;}
.m-demo p{position:absolute;width:2.587rem;top:50%;left:50%;margin:0;padding:0;}
.m-demo img{position:absolute;width:2.587rem;top:-50%;left:-50%;display:block;}
.m-demo img.hidden{visibility:hidden;width:2.587rem;position:static;}
.content .image .m-demo:last-child {
  margin-right: 0;
}
.content-item .open {
  margin-top: 0.1rem;
  cursor: pointer;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(95,142,228,1);
}
.name-item .name {
  font-size: 0.4rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 600;
  color: rgba(26,22,21,1);
}
.name-item .time {
  margin-top: 0.02rem;
  font-size: 0.3rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(102,102,102,1);
}
.li-active .bottom-line {
  position: relative;
  width: 0.8rem;
  height: 0.06rem;
  margin: 0 auto;
  bottom: 0.07rem;
  background-color: #CF1427;
}
.big_img{position:fixed;z-index:-1;opacity:0;background:rgba(255,255,255,.9);width:100%;height:100%;top:0;left:0}.big_img .swiper-container2{position:relative;width:100%;height:100%}.big_img .swiper-container2 .swiper-wrapper{width:100%;height:100%}.big_img .swiper-slide{width:100%;height:100%;display:table}.big_img .swiper-slide .cell{width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center}.big_img .swiper-slide img{max-width:90%;max-height:80%;margin:0 auto}.big_img .swiper-pagination2{position:absolute;top:.2rem;text-align:center;width:100%}.big_img .swiper-pagination2 span{margin:0 .05rem}
