*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background:#F7F7F7;font-family:open sans,Arial,Helvetica,Sans-serif,Verdana,Tahoma}
ul{list-style-type:none;tap-highlight-color: rgba(0, 0, 0, 0);-webkit-tap-highlight-color: transparent;}
a{color:#b63b4d;text-decoration:none}
h1{color:#fff;font-size:24px;font-weight:400;text-align:center;margin-top:80px}
h1 a{color:#c12c42;font-size:16px}
a:hover{
    -webkit-tap-highlight-color: transparent;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
/*单行溢出*/
.one-txt-cut{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut{
    overflow : hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.accordion .acc {
    margin-top: 0.2rem;
}
.accordion{overflow: hidden;background: #F7F7F7;width:100%;margin:auto;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.accordion .link{
    background: #fff;
    cursor: pointer;
    display: block;
    font-size: 0.28rem;
    font-family: PingFangSC-Regular, sans-serif;
    font-weight: 400;
    color:rgba(51,51,51,1);position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.left {
    position: relative;
    float: left;
    text-align: center;
    width: 2.1rem;
    height: 1rem;
    border-right: 0.01rem solid #ebebeb;
}
.link .left {
    height: 2rem;
}
.right {
    position: relative;
    float: left;
    text-align: left;
    width: 5.4rem;
}
.right .detail {
    padding-left: 0.4rem;
    font-size: 0.28rem;
    font-family: PingFangSC-Regular, sans-serif;
    font-weight: 400;
    height: 1rem;
    line-height: 1rem;
    color: rgba(51,51,51,1);
    border-top: 0.01rem solid #ebebeb;
}
.link .right a:first-child .detail {
    border-top: 0;
}
.link .right .one {
    height: 2rem;
    line-height: 2rem;
}
.link .left img {
    margin-top: 0.36rem;
    width: 0.6rem;
    height: 0.6rem;
}
.accordion li:last-child .link{border-bottom:0}
.fa-chevron-down {
    background-image: url('https://file.wchoosemall.com/platform/manager/pic/20190508/4066268730318490.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 0.3rem;
    height: 0.18rem;
    margin: 0.2rem auto;
}
.accordion li i{position:absolute;top:16px;left:12px;font-size:18px;color:#595959;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.accordion li i.fa-chevron-down{right:12px;left:auto;font-size:16px}
.accordion li.open div.fa-chevron-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.submenu{display:none;background:#fff;font-size:14px}
.submenu li{border-bottom:1px solid #EBEBEB}
.submenu a:hover{background:#b63b4d;color:#fff}
