body {
  margin: 0;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.pa {
  padding-bottom: 0.24rem;
  padding-top: 0.24rem;
}
.bor-1 {
  width: 100%;
  height: 0.01rem;
  background-color: #e0e0e0;
  transform:scaleY(0.5);
  -webkit-transform:scaleY(0.5);
}
.art{
  padding: 0 0.24rem;
}
img {
  position: relative;
  float: left;
  width: 2.1rem;
  height: 1.42rem;
  border-radius: 0.08rem;
}
.ava {
  position: relative;
  float: left;
  left: 0.24rem;
  top: 0.18rem;
  color: #333333;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, serif;
  font-weight: 400;
}
