body {
  margin: 0;
  width: 100%;
}
input {
  -webkit-appearance: none;
}
a {
  text-decoration: none
}
ul {
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
* {
  margin: 0;
  padding: 0
}
.ticket-bg {
  margin: 0.24rem auto;
  background-image: url('https://file.wchoosemall.com/platform/manager/pic/20190506/3905309055495754.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 7.02rem;
  height: 2.8rem;
}
.price-item {
  position: relative;
  float: left;
  margin: 0.39rem 0.4rem;
  width: 1.5rem;
}
.price {
  height: 0.65rem;
  font-size: 0.46rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(234,21,21,1);
  line-height: 0.65rem;
}
.price span {
  font-size: 0.66rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 500;
  color: rgba(234,21,21,1);
}
.enough {
  margin-top: 0.1rem;
  height: 0.37rem;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(234,21,21,1);
  line-height: 0.37rem;
}
.ticket-item {
  position: relative;
  float: left;
  margin-top: 0.5rem;
}
.name {
  width: 4.15rem;
  height: 0.48rem;
  font-size: 0.34rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 500;
  color: rgba(51,51,51,1);
  line-height: 0.48rem;
}
.time {
  margin-top: 0.18rem;
  height: 0.33rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(155,155,155,1);
  line-height: 0.33rem;
}
.share-item {
  margin-top: 0.25rem;
  height: 0.5rem;
  line-height: 0.5rem;
}
.surplus {
  position: relative;
  float: left;
  margin-left: 0.39rem;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(102,102,102,1);
}
.share-btn {
  position: relative;
  float: right;
  right: 0.3rem;
  text-align: center;
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: linear-gradient(90deg,rgba(255,60,60,1) 0%,rgba(234,21,21,1) 100%);
  border-radius: 0.25rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 500;
  color: rgba(255,255,255,1);
}
.empty {
  text-align: center;
}
.empty img {
  margin: 2.5rem auto 0.4rem auto;
  width: 1.94rem;
}
.empty-title {
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: 400;
  color: rgba(155,155,155,1);
}
