@font-face {
    font-family: 'iconfont';  /* project id 1265285 */
    src: url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.eot');
    src: url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.woff') format('woff'),
    url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1265285_7tw4nlrrab5.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.detialTop{
    overflow: hidden;
    height: 5rem;
}
.detialTop img{
    width: 100%;
    height: 100%;
}
.detailInfo{
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.detailInfo .goodsInfo{
    background: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.detailInfo .goodsInfo h4{
    width: 6.933333rem;
    opacity: 1;
    font-size: 0.48rem;
    color: #363636;
    line-height: 0.666667rem;
    margin-top: 0.36rem;
    margin-left: 0.32rem;
    margin-bottom: 0;
}
.detailInfo .goodsInfo .priceInfo{
    margin-left: 0.32rem;
    margin-top: 0.213333rem;
    margin-bottom: 0.346667rem;
    width: 6.666667rem;
    display: flex;
}
.detailInfo .goodsInfo .priceInfo .tag{
    padding: 0 0.16rem;
    border-radius: 0.053333rem 0.053333rem 0.053333rem 0.053333rem;
    opacity: 1;
    font-size: 0.346667rem;
    color: #ECC184;
    line-height: 0.493333rem;
    background: #fff;
    border: 1px solid #ECC184;
    text-align: center;
}
.detailInfo .goodsInfo .share{
    position: absolute;
    right: 0.32rem;
    top: 0.373333rem;
    width: 1.666667rem;
    height: 0.64rem;
    opacity: 1;
    background: #ecc184;
    font-size: 0.373333rem;
    color: #ffffff;
    line-height: 0.64rem;
    text-align: center;
    border-radius: 0.08rem;
}
.detailInfo .goodsInfo .buyer{
    position: absolute;
    right: 0.32rem;
    bottom: 0.346667rem;
    font-size: 0.346667rem;
    color: #989898;
    line-height: 0.493333rem;
}
.spacer{
    width: 100%;
    height: 0.266667rem;
    background: #f5f5f5;
}
.commentMinModule{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.commentMinModule .top{
    width: 9.146667rem;
    height: 0.533333rem;
    margin: 0.36rem auto 0.346667rem;
    display: flex;
}
.commentMinModule .top ul{
    display: flex;
    line-height: 0.533333rem;
    height: 0.533333rem;
}
.commentMinModule .top ul li{
    margin-right: 0.12rem;
    font-size: 0.426667rem;
    color: #DDDDDD;
}
.commentMinModule .top .score{
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    color: #656565;
    margin-left: 0.133333rem;
    -webkit-box-flex: 2;
    flex: 2;
}
.commentMinModule .top .scoreBtn{
    font-size: 0.373333rem;
    color: #989898;
    margin-left: 3.866667rem;
    display: flex;
    align-items: center;
}
.commentMinModule .top .scoreBtn i{
    font-size: 0.45rem;
}
.commentMinModule .top ul .like{
    color: #F7453D;
}
.classInfo{
    background: #fff;
    overflow: hidden;
}
.classInfo h5{
    padding-left: 0.32rem;
    width: 10rem;
    height: 1.36rem;
    line-height: 1.386667rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
}
.classInfo h5 span{
    font-size: 0.426667rem;
    color: #363636;
    line-height: 0.6rem;
}
.classInfo h5 i{
    font-size: 0.373333rem;
    color: #989898;
    line-height: 0.533333rem;
    font-style: normal;
    margin-left: 0.213333rem;
}
.classInfo ul{
    width: 9.36rem;
    margin: 0 auto 0.533333rem;
}
.classInfo ul li a{
    width: 100%;
    height: 1.653333rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.classInfo ul li .left h6{
    width: 6.56rem;
    height: 0.533333rem;
    font-size: 0.373333rem;
    color: #656565;
    line-height: 0.533333rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.classInfo ul li .left .time{
    display: flex;
}
.classInfo ul li .left .time span{
    height: 0.493333rem;
    font-size: 0.346667rem;
    color: #989898;
    line-height: 0.493333rem;
}

.classInfo ul li .right{
    color: #D3D3D3;
    font-size: 0.4rem;
}
.goodsDetailInfo{
    background: #fff;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.container p{
    line-height: 0;
    padding: 0;
    margin: 0;
}

.container p img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.moduleTitle {
    width: 9.146667rem;
    height: 1.266667rem;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.moduleTitle h4{
    height: 0.64rem;
    font-size: 0.453333rem;
    font-weight: 600;
    color: #363636;
    line-height: 0.64rem;
}
.moduleTitle .editComment {
    height: 0.533333rem;
    font-size: 0.373333rem;
    font-weight: 400;
    color: #989898;
    line-height: 0.533333rem;
}
.moduleTitle .editComment i{
    font-size: 0.4rem;
    margin-right: 0.16rem;
}
.noCommentList img{
    display: block;
    width: 3.733333rem;
    margin: 0.533333rem auto;
}
.noCommentList p{
    text-align: center;
    font-size: 0.426667rem;
    color: #989898;
    margin-bottom: 0.266667rem;
    font-weight: 500;
}
#share{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}
#share img{
    width: 80%;
    display: block;
    margin: 0.533333rem auto 0;
}
