tbody>tr:hover{
    background-color:#f9f9f9 !important
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff ;
}
.btnClear{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}
.btnMore {
    border-radius:5px;
    width:50px;
}
.btnMore a{
    color:#fff;
    text-decoration:none;
}
